/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		text-align: left;
		vertical-align: top;
		font-family: 'Open Sans';
		color: #000000;
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Standard;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 16;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Regular;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	id: 15;
	name: Column1;
}

mcTableColumnStyle
{
	span: 1;
	id: 16;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	background-color: #bed230;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	id: 11;
	name: Row1;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Standard
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Standard-HeadI-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadI-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadE-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadE-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadF-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadF-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadH-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadH-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadD-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadD-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadC-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadC-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadB-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadB-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadA-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadA-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadG-Regular-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadG-Regular-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadI-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadI-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadE-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadE-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadF-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadF-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadH-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadH-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadD-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadD-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadC-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadC-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadB-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadB-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadA-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadA-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadG-Column1-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadG-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadI-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadI-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadE-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadE-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadF-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadF-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadH-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadH-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadD-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadD-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadC-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadC-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadB-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadB-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadA-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadA-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}

	.TableStyle-Standard-HeadG-Column2-Header1
	{
		color: #000000;
		font-family: 'Open Sans';
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Standard-HeadG-Column2-Header1 p
	{
		color: #000000;
		font-family: 'Open Sans';
	}
}

.TableStyle-Standard
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Standard-Column-Regular
{
	
}

.TableStyle-Standard-Column-Column1
{
	
}

.TableStyle-Standard-Column-Column2
{
	
}

.TableStyle-Standard-Head-Header1
{
	
}

.TableStyle-Standard-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadI-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadE-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadF-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-Standard-HeadH-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadD-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadC-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-Standard-HeadB-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadA-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadG-Regular-Header1 p
{
	
}

.TableStyle-Standard-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Standard-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Standard-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-Standard-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Standard-FootI-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootI-Regular- p
{
	
}

.TableStyle-Standard-FootE-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-FootE-Regular- p
{
	
}

.TableStyle-Standard-FootF-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootF-Regular- p
{
	
}

.TableStyle-Standard-FootH-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-FootH-Regular- p
{
	
}

.TableStyle-Standard-FootD-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootD-Regular- p
{
	
}

.TableStyle-Standard-FootC-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootC-Regular- p
{
	
}

.TableStyle-Standard-FootB-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-FootB-Regular- p
{
	
}

.TableStyle-Standard-FootA-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootA-Regular- p
{
	
}

.TableStyle-Standard-FootG-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootG-Regular- p
{
	
}

.TableStyle-Standard-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootI-Column1- p
{
	
}

.TableStyle-Standard-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootE-Column1- p
{
	
}

.TableStyle-Standard-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootF-Column1- p
{
	
}

.TableStyle-Standard-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootH-Column1- p
{
	
}

.TableStyle-Standard-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootD-Column1- p
{
	
}

.TableStyle-Standard-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootC-Column1- p
{
	
}

.TableStyle-Standard-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootB-Column1- p
{
	
}

.TableStyle-Standard-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootA-Column1- p
{
	
}

.TableStyle-Standard-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootG-Column1- p
{
	
}

.TableStyle-Standard-FootI-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootI-Column2- p
{
	
}

.TableStyle-Standard-FootE-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootE-Column2- p
{
	
}

.TableStyle-Standard-FootF-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootF-Column2- p
{
	
}

.TableStyle-Standard-FootH-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootH-Column2- p
{
	
}

.TableStyle-Standard-FootD-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootD-Column2- p
{
	
}

.TableStyle-Standard-FootC-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootC-Column2- p
{
	
}

.TableStyle-Standard-FootB-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootB-Column2- p
{
	
}

.TableStyle-Standard-FootA-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootA-Column2- p
{
	
}

.TableStyle-Standard-FootG-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-FootG-Column2- p
{
	
}

.TableStyle-Standard-Body-Row1
{
	
}

.TableStyle-Standard-BodyI-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyI-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyE-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-BodyE-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyF-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyF-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyH-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-BodyH-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyD-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyD-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyC-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyC-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyB-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-BodyB-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyA-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyA-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyG-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyG-Regular-Row1 p
{
	
}

.TableStyle-Standard-BodyI-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyI-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyE-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyE-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyF-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyF-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyH-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyH-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyD-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyD-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyC-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyC-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyB-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyB-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyA-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyA-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyG-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyG-Column1-Row1 p
{
	
}

.TableStyle-Standard-BodyI-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyI-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyE-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyE-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyF-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyF-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyH-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyH-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyD-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyD-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyC-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyC-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyB-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyB-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyA-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyA-Column2-Row1 p
{
	
}

.TableStyle-Standard-BodyG-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Standard-BodyG-Column2-Row1 p
{
	
}


