/*<meta />*/

div.MCTocProxy_0
{
	border-top: none;
	margin-right: 0.25in;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

table.GenTOCTable1
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 12px;
	margin-bottom: 6px;
	page-break-after: avoid;
}

td.GenTOCText1
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	mc-leader-format: 'none';
	mc-leader-indent: 5pt;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: left;
}

a.GenTOCText1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-format: 'none';
	mc-leader-indent: 5pt;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	text-align: left;
}

a.GenTOCText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-format: 'none';
	mc-leader-indent: 5pt;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	text-align: left;
}

td.GenTOCAutoText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
}

td.GenTOCPageText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: right;
	white-space: normal;
}

td.mcReset
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

table.GenTOCTable3
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 2px;
	margin-bottom: 2px;
}

td.GenTOCText3
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #e1e1e1;
	font-size: 8pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: left;
}

a.GenTOCText3:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #e1e1e1;
	font-size: 8pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	text-align: left;
}

a.GenTOCText3
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #e1e1e1;
	font-size: 8pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	text-align: left;
}

td.GenTOCAutoText3
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #e1e1e1;
	font-size: 8pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
}

td.GenTOCPageText3
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #e1e1e1;
	font-size: 8pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: right;
	white-space: normal;
}

MadCap|xref.TOCPageNumber_0
{
	color: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	font-family: inherit;
	font-size: inherit;
}

table.GenTOCTable4
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 12px;
	margin-bottom: 6px;
}

td.GenTOCText4
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: left;
}

a.GenTOCText4:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	text-align: left;
}

a.GenTOCText4
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	text-align: left;
}

td.GenTOCAutoText4
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
}

td.GenTOCPageText4
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #a7da1c;
	font-size: 12pt;
	font-family: 'open sans';
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: right;
	white-space: normal;
}

div.GlossaryPageEntry_0
{
	display: block;
	margin-bottom: 12pt;
}

div.GlossaryPageTerm_0
{
	display: block;
	font-size: 10pt;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: exo;
	color: #a7da1c;
	font-weight: bold;
	page-break-after: avoid;
	column-break-after: avoid;
}

div.GlossaryPageDefinition_0
{
	display: block;
	font-size: 9pt;
	font-family: exo;
	margin-left: 24pt;
	page-break-before: avoid;
	column-break-before: avoid;
}

div.MCGlossaryProxy_0
{
	border-top: none;
	color: #e1e1e1;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

div.GlossaryPageHeading_0
{
	display: block;
	border-bottom-color: #bed230;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 11pt;
	color: #a7da1c;
	font-family: exo;
	margin-left: 0pt;
	font-weight: bold;
	margin-top: 20pt;
	margin-bottom: 10pt;
	text-align: left;
	page-break-after: avoid;
	column-break-after: avoid;
}

div.MCIndexProxy_Column2_0
{
	border-top: none;
	color: #e1e1e1;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

p.IndexHeading_0
{
	margin-bottom: 10pt;
	margin-top: 20pt;
	font-family: 'open sans';
	font-size: 11pt;
	line-height: 20pt;
	letter-spacing: 0px;
	text-align: left;
	word-spacing: 0px;
	display: block;
	margin: 1.12em 0;
	padding-top: 16px;
	margin-left: 0pt;
	font-weight: bold;
	page-break-after: avoid;
	column-break-after: avoid;
}

table.GenIndexTable1
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 8px;
	margin-bottom: 8px;
}

td.GenIndexText1
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	text-decoration: inherit;
	mc-leader-indent: 5pt;
	font-size: 10;
	font-family: 'open sans';
	letter-spacing: 0px;
	word-spacing: 0px;
	mc-multiline-indent: 0.4in;
	text-align: left;
}

a.GenIndexText1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-indent: 5pt;
	color: black;
	font-size: 10;
	font-family: 'open sans';
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	mc-multiline-indent: 0.4in;
	text-align: left;
}

a.GenIndexText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	mc-leader-indent: 5pt;
	color: black;
	font-size: 10;
	font-family: 'open sans';
	letter-spacing: 0px;
	word-spacing: 0px;
	text-decoration: none;
	mc-multiline-indent: 0.4in;
	text-align: left;
}

td.GenIndexAutoText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	font-size: 10;
	font-family: 'open sans';
	letter-spacing: 0px;
	word-spacing: 0px;
}

td.GenIndexPageText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	font-size: 10;
	font-family: 'open sans';
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: right;
	white-space: normal;
}

MadCap|xref.IndexPageNumber_0
{
	color: #a7da1c;
	font-weight: inherit;
	text-decoration: inherit;
	font-family: inherit;
	font-size: inherit;
}

