/*<meta />*/

body
{
	line-height: 1.7em;
	color: #111111;
	font-family: 'open sans';
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
	color: #a7da1c;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #a7da1c;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	vertical-align: 20px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 28px;
	font-family: 'Open Sans';
	font-weight: bold;
}

h2
{
	margin-bottom: 4px;
	margin-top: 20px;
	border-top: solid 1px #525252;
	color: #242528;
	font-weight: bolder;
	padding-top: 5px;
	font-family: 'Open Sans';
	font-size: 24px;
}

h3
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-style: italic;
	font-family: 'Open Sans';
	font-size: 22px;
}

h4
{
	font-family: 'Open Sans';
	font-size: 20px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Open Sans';
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
	font-family: 'Open Sans';
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-style: italic;
	color: #2d8dcc;
	font-family: 'Open Sans';
}

MadCap|xref:hover
{
	color: #2D8DCC;
	font-family: 'Open Sans';
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'open sans';
	color: #2c2c2c;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

html.templateTopic div.sideContent
{
	display: none;
}

img
{
	padding: 0px;
	mc-thumbnail-max-height: 140px;
	mc-thumbnail: none;
	border: 0;
}

p#Example
{
	margin-bottom: 8px;
	margin-top: 8px;
	border-bottom-length: 0px;
	border-bottom-right-radius: 4px 0px;
	border-radius: 4px;
	word-spacing: 0px;
	vertical-align: 0px;
	color: #4e4e4e;
	background-color: #ffffff;
	margin-left: 25px;
	margin-right: 25px;
	border: solid 0px #000000;
	font-style: normal;
	padding: 6px 10px 5px 25px;
	font-family: 'Open Sans';
}

MadCap|dropDownHead
{
	color: #0771b5;
	font-family: 'Open Sans';
}

MadCap|dropDownBody
{
	font-family: 'Open Sans';
}

p#concept_definition
{
	margin-bottom: 8px;
	margin-top: 8px;
	background-color: #27282a;
	color: #ffffff;
	border-radius: 5px;
	padding-left: 20px;
	font-weight: normal;
	padding-right: 20px;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans';
}

p#valo_green
{
	margin-bottom: 8px;
	margin-top: 8px;
}

strong.green
{
	text-transform: uppercase;
	color: #000000;
	font-family: 'Open Sans';
}

h2.nokeyline
{
	margin-bottom: 4px;
	margin-top: 20px;
	border-top-width: 0px;
	color: #242528;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}

strong
{
	font-family: 'open sans';
}

img.icon
{
	padding: 0px;
	border: 0;
	mc-thumbnail-max-height: 25px;
	mc-thumbnail: normal;
}

a:link
{
	color: #2d8dcc;
}

a:visited
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-family: exo;
	color: #2d8dcc;
}

a:hover
{
	color: #2d8dcc;
}

a:active
{
	color: #2d8dcc;
}

p.note
{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 50px;
	font-family: 'Open Sans';
	border-right-color: #0771b5;
	border-right: solid 10px #0771b5;
	border-left-color: #0771b5;
	border-left: solid 10px #0771b5;
	background-color: #f5f5f5;
	color: #000000;
}

img.screenshotsmall
{
	padding: 0px;
	mc-thumbnail: hover;
	mc-thumbnail-max-height: 140;
	mc-thumbnail-max-width: 140;
	border: 0;
}

img.screenshotsmedium
{
	padding: 0px;
	mc-thumbnail: hover;
	mc-thumbnail-max-height: 400;
	mc-thumbnail-max-width: 600;
	border: 0;
}

td
{
	font-family: 'open sans';
}

thead
{
	font-size: ;
	font-family: 'open sans';
}

th
{
	font-family: 'open sans';
}

MadCap|dropDownHead.H2
{
	font-family: exo;
	font-size: 1.2em;
	text-transform: uppercase;
	border-top: solid 1px #000000;
	color: #242528;
	font-style: italic;
	font-weight: bolder;
}

MadCap|dropDownHead.H2NoKeyline
{
	font-family: exo;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #242528;
	font-style: italic;
	font-weight: bolder;
}

MadCap|glossaryTerm
{
	color: #000000;
	font-family: 'Open Sans';
}

a
{
	font-family: 'open sans';
	color: #2d8dcc;
}

MadCap|popupHead
{
	color: #2d8dcc;
	font-family: 'Open Sans';
}

a.Popup
{
	color: #2d8dcc;
}

strong.greenlowercase
{
	color: #000000;
	font-family: 'Open Sans';
}

p.technicalfielddefinition
{
	margin-top: 8px;
	font-family: exo;
	margin-bottom: 8px;
	border-left: solid 10px #000000;
	border-left-color: #a7da1c;
	margin-left: 25px;
	padding-left: 10px;
	border-right: solid 10px #a7da1c;
	padding-right: 10px;
	margin-right: 50px;
	color: #000000;
	background-color: #f5f5f5;
}

@media print
{
	MadCap|dropDownHead
	{
		font-size: 12pt;
		font-family: 'Open Sans';
	}
}

