/*<meta />*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* Home Page Topic Hero section*/
/* Home Page Button Styles */

@import url('bootstrap.min.css');

@import url('../scripts/google-code-prettify/prettify.css');

body
{
	line-height: 1.7em;
	font-family: 'Open Sans';
	color: #4f5f64;
}

a
{
	font-family: 'Open Sans';
	color: #2d8dcc;
	color: #a7da1c;
}

a:link
{
	color: #2d8dcc;
}

a:visited
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-family: 'exo';
	color: #2d8dcc;
}

a:hover
{
	color: #2d8dcc;
}

a:active
{
	color: #2d8dcc;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
	color: #16b1b2;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #16b1b2;
}

a.Popup
{
	color: #2d8dcc;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	vertical-align: 20px;
	font-size: 28px;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #4f5f64;
}

h2
{
	margin-bottom: 4px;
	margin-top: 20px;
	border-top: solid 1px #525252;
	padding-top: 5px;
	font-family: 'Open Sans';
	font-size: 24px;
	color: #4f5f64;
	font-weight: bold;
	font-style: italic;
}

h3
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-style: italic;
	font-family: 'Open Sans';
	font-size: 22px;
}

h4
{
	font-family: 'Open Sans';
	font-size: 20px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Open Sans';
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
	font-family: 'Open Sans';
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-style: italic;
	color: #2d8dcc;
	font-family: 'Open Sans';
}

MadCap|xref:hover
{
	color: #2D8DCC;
	font-family: 'Open Sans';
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Open Sans';
	color: #4f5f64;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

html.templateTopic div.sideContent
{
	display: none;
}

img
{
	mc-thumbnail-max-height: 140px;
	mc-thumbnail: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

p#Example
{
	margin-bottom: 8px;
	margin-top: 8px;
	border-bottom-length: 0px;
	border-bottom-right-radius: 4px 0px;
	border-radius: 4px;
	word-spacing: 0px;
	vertical-align: 0px;
	color: #4e4e4e;
	background-color: #ffffff;
	margin-left: 25px;
	margin-right: 25px;
	border: solid 0px #000000;
	font-style: normal;
	padding: 6px 10px 5px 25px;
	font-family: 'Open Sans';
}

MadCap|dropDownHead
{
	color: #0771b5;
	font-family: 'Open Sans';
}

MadCap|dropDownBody
{
	font-family: 'Open Sans';
}

p#concept_definition
{
	margin-bottom: 8px;
	margin-top: 8px;
	color: #ffffff;
	border-radius: 5px;
	padding-left: 20px;
	font-weight: normal;
	padding-right: 20px;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans';
	background-color: #4f5f64;
}

p#valo_green
{
	margin-bottom: 8px;
	margin-top: 8px;
}

strong.green
{
	text-transform: uppercase;
	font-family: 'Open Sans';
	color: #134159;
}

h2.nokeyline
{
	margin-bottom: 4px;
	margin-top: 20px;
	border-top-width: 0px;
	font-size: 24px;
	color: #4f5f64;
	font-weight: bold;
	font-style: italic;
}

strong
{
	font-family: 'Open Sans';
}

img.icon
{
	padding: 0px;
	border: 0;
	mc-thumbnail-max-height: 25px;
	mc-thumbnail: hover;
}

p.note
{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 25px;
	margin-right: 50px;
	font-family: 'Open Sans';
	border-right: solid 10px #0771b5;
	border-left: solid 10px #0771b5;
	background-color: #f5f5f5;
	color: #4f5f64;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #16b1b2;
	border-right-style: solid;
	border-right-width: 10px;
	border-right-color: #16b1b2;
	padding-left: 10px;
	padding-right: 10px;
}

img.screenshotsmall
{
	padding: 0px;
	border: 0;
	mc-thumbnail-max-height: 140px;
	mc-thumbnail-max-width: 140px;
	mc-thumbnail: hover;
}

img.screenshotsmedium
{
	padding: 0px;
	border: 0;
	mc-thumbnail-max-height: 400px;
	mc-thumbnail-max-width: 600px;
	mc-thumbnail: hover;
}

td
{
	font-family: 'Open Sans';
}

thead
{
	font-size: ;
	font-family: 'Open Sans';
}

th
{
	font-family: 'Open Sans';
}

MadCap|dropDownHead.H2
{
	font-size: 1.2em;
	text-transform: uppercase;
	border-top: solid 1px #000000;
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: normal;
	color: #4f5f64;
}

MadCap|dropDownHead.H2NoKeyline
{
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: normal;
	color: #4f5f64;
}

MadCap|glossaryTerm
{
	color: #000000;
	font-family: 'Open Sans';
}

MadCap|popupHead
{
	color: #2d8dcc;
	font-family: 'Open Sans';
}

strong.greenlowercase
{
	color: #000000;
	font-family: 'Open Sans';
}

p.technicalfielddefinition
{
	margin-top: 8px;
	font-family: 'exo';
	margin-bottom: 8px;
	border-left: solid 10px #000000;
	border-left-color: #a7da1c;
	margin-left: 25px;
	padding-left: 10px;
	border-right: solid 10px #a7da1c;
	padding-right: 10px;
	margin-right: 50px;
	background-color: #f5f5f5;
	color: #4f5f64;
}

MadCap|searchBarProxy
{
	display: block;
	float: none;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 50%;
}

MadCap|topicToolbarProxy
{
	float: none;
}

p.TOC1
{
	color: #4f5f64;
}

div.HomeHeroSection
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeHeroSection::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeHeroSection::before
{
	content: ' ';
	display: table;
}

div.HomeHeroSection > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomeHeroSection > div:nth-child(1)
{
	width: 100%;
	margin-left: 0%;
}

h2.SubCenter
{
	text-align: center;
	margin-bottom: 1.2em;
	font-size: 1.6785em;
	border-top: solid 0px #000000;
	margin-top: .75em;
	padding-top: 0px;
}

html.HomePage
{
	font-family: 'Open Sans';
}

img.Hyperlinked
{
	border-bottom-style: none;
}

li#content-section.mc-blurb
{
	color: #5a5a5a;
	list-style-image: url('../Images/Bullet1.png');
	font-size: 14px;
	margin-top: 8px;
	line-height: 1.6em;
}

p.Copyright
{
	font-size: 0.9em;
	line-height: 1.6em;
	text-align: left;
	margin: 0 0 10px 0;
}

p#content-section.mc-blurb
{
	margin-top: 0;
	margin-bottom: 5px;
}

MadCap|menuProxy.menu1
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

MadCap|menuProxy.menu2
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

.black:hover
{
	color: #0771b5;
	background-color: #ccc;
	border: solid 2px #000000;
}

.button
{
	cursor: pointer;
	background-color: transparent;
	width: 200px;
	height: 35px;
	font-weight: bold;
	-webkit-transition: 'all 200ms';
	-moz-transition: 'all 200ms';
	-ms-transition: 'all 200ms';
	-o-transition: 'all 200ms';
	transition: 'all 200ms';
}

.button:hover
{
	color: #000000;
	font-weight: bold;
	background-color: #ccc;
	border: solid 2px #000000;
	width: 200px;
	height: 35px;
	cursor: pointer;
}

.button a
{
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

#content-section
{
	margin-top: -50px;
	padding-bottom: 60px;
	padding-top: 60px;
	background-color: #ffffff;
}

.button.black
{
	border: solid 2px black;
	color: black;
}

.button.black:hover
{
	background-color: #ccc;
}

div.HomeWelcomePDFSection
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeWelcomePDFSection::before
{
	content: ' ';
	display: table;
}

div.HomeWelcomePDFSection::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeWelcomePDFSection > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomeWelcomePDFSection > div:nth-child(1)
{
	width: 58.333%;
	margin-left: 0%;
}

div.HomeWelcomePDFSection > div:nth-child(2)
{
	width: 41.667%;
	margin-left: 0%;
}

div.HomeWelcomeButtons
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeWelcomeButtons::before
{
	content: ' ';
	display: table;
}

div.HomeWelcomeButtons::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeWelcomeButtons > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomeWelcomeButtons > div:nth-child(1)
{
	width: 33.333%;
	margin-left: 8.3333%;
}

div.HomeWelcomeButtons > div:nth-child(2)
{
	width: 33.333%;
	margin-left: 8.3333%;
}

div.HomePDFSection
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomePDFSection::before
{
	content: ' ';
	display: table;
}

div.HomePDFSection::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomePDFSection > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
}

div.HomePDFSection > div:nth-child(1)
{
	width: 33.33333%;
}

div.HomePDFSection > div:nth-child(2)
{
	width: 33.33333%;
}

div.HomePDFSection > div:nth-child(3)
{
	width: 33.33333%;
}

div.HomePDFButton
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomePDFButton::before
{
	content: ' ';
	display: table;
}

div.HomePDFButton::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomePDFButton > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomePDFButton > div:nth-child(1)
{
	width: 50%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

div.HomeMasterPageFooter
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeMasterPageFooter::before
{
	content: ' ';
	display: table;
}

div.HomeMasterPageFooter::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeMasterPageFooter > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomeMasterPageFooter > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.HomeMasterPageFooter > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

div.HomeMasterPageFooter > div:nth-child(3)
{
	width: 25%;
	margin-left: 0%;
}

html
{
	font-family: 'Open Sans';
}

h1.HomePage
{
	font-family: 'Open Sans';
	color: #ffffff;
}

h2.HomePage
{
	font-family: 'Open Sans';
	color: #4f5f64;
}

@media print
{
	MadCap|dropDownHead
	{
		font-size: 12pt;
		font-family: 'Open Sans';
	}
}

/* General */

.inner-wrap
{
	padding-top: 0;
}

pre
{
	overflow: auto;
	margin-bottom: 15px;
	padding: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: #303336;
	color: #fff;
}

pre span.keyword
{
	color: #66d9ef;
}

/* Top header back button */

.back-to-resources
{
	text-align: right;
	height: 0;
	position: relative;
	top: -150px;
	z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1279px)
{
	.back-to-resources
	{
		top: -120px;
		right: 35px;
	}
}

@media only screen and (max-width: 767px)
{
	.back-to-resources
	{
		top: -120px;
		right: 35px;
	}
}

.back-to-resources a
{
	color: #134159;
	text-decoration: none;
	font-weight: bold;
}

/* Header */

nav.tab-bar
{
	padding-bottom: 0;
	padding-top: 20px;
	background: #f6f6f6;
}

nav.tab-bar .menu-icon span
{
	background: transparent url(../Images/Menu.png) no-repeat center center !important;
	margin-top: -29px !important;
}

@media only screen and (min-width: 768px) and (max-width: 1279px)
{
	nav.tab-bar
	{
		padding-top: 10px;
	}
}

@media only screen and (max-width: 767px)
{
	nav.tab-bar
	{
		padding-top: 10px;
	}
}

nav.tab-bar a.logo
{
	background-image: url(../Images/logo_header.png);
	background-size: contain;
	width: 69px;
}

nav.tab-bar ul.navigation
{
	padding-left: 0;
	padding-right: 0;
}

nav.tab-bar ul.navigation > li > a
{
	color: #3f3b3b;
	padding-right: 0;
	padding-left: 30px;
}

nav.tab-bar .nav-search
{
	max-width: inherit;
	background: #134159;
	text-align: right;
	margin-top: 0;
}

nav.tab-bar .nav-search form.search .search-bar
{
	padding: 25px 0;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 62.5em;
}

nav.tab-bar .nav-search form.search .search-bar .search-field
{
	background: transparent;
	text-align: right;
	padding-right: 35px;
	font-weight: bold;
	color: #fff;
}

nav.tab-bar .nav-search form.search .search-bar .search-field::-webkit-input-placeholder
{
	color: #fff;
	text-transform: uppercase;
}

nav.tab-bar .nav-search form.search .search-bar .search-field::-moz-placeholder
{
	color: #fff;
	text-transform: uppercase;
}

nav.tab-bar .nav-search form.search .search-bar .search-field:-ms-input-placeholder
{
	color: #fff;
	text-transform: uppercase;
}

nav.tab-bar .nav-search form.search .search-bar .search-submit-wrapper
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 1em;
	margin: auto;
}

nav.tab-bar .nav-search form.search .search-bar .search-submit-wrapper .search-submit
{
	height: 100%;
	background-color: transparent !important;
	background-image: url(../Images/search.png);
}

/* Main section */

.main-section > .outer-row
{
	padding: 0;
	max-width: inherit;
}

.main-section > .outer-row .topichero
{
	display: table;
	width: 100%;
	background-image: url(../Images/BackgroundImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

.main-section > .outer-row .topichero .title-text
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.main-section > .outer-row .topichero .title-text .centered-text span
{
	display: block;
	color: #fff;
	font-size: 22px;
}

.main-section > .outer-row .topichero .title-text .centered-text img
{
	max-width: 100%;
}

/* General content section */

.content
{
	padding: 40px 0;
}

/* Content section Home*/

#contentBody #content-section
{
	margin-top: 0;
}

#contentBody #content-section .SubCenter
{
	font-size: 22px;
	text-align: left;
	color: #4f5f64;
}

#contentBody #content-section .HomeWelcomePDFSection
{
	padding: 0;
}

#contentBody #content-section .HomeWelcomePDFSection .left-section
{
	padding: 0 15px 0 0;
}

#contentBody #content-section .HomeWelcomePDFSection .right-section
{
	padding: 0 0 0 15px;
}

#contentBody #content-section .HomeWelcomePDFSection .right-section .HomePDFSection > div
{
	padding: 0;
}

#contentBody #content-section .HomeWelcomePDFSection .right-section .HomePDFSection > div:nth-child(1)
{
	text-align: left;
}

#contentBody #content-section .HomeWelcomePDFSection .right-section .HomePDFSection > div:nth-child(2)
{
	text-align: center;
}

#contentBody #content-section .HomeWelcomePDFSection .right-section .HomePDFSection > div:nth-child(3)
{
	text-align: right;
}

/* Footer */

.footer-push
{
	height: 120px;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #1d1f1f;
}

.footer #back-to-top
{
	cursor: pointer;
	height: 25px;
	padding: 0;
	width: 25px !important;
	background-image: url(../Images/up.png);
	background-size: cover;
}

.footer .HomeMasterPageFooter > div
{
	width: auto !important;
	float: left;
}

.footer .HomeMasterPageFooter > div:last-child
{
	padding-left: 20px;
}

.footer .Copyright
{
	color: #747272;
	margin: 0;
	line-height: 30px;
	padding-left: 20px;
}

/*# sourceMappingURL=../MainStyles.css.map */

